.ClickedGenreDiv {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 230px;
    height: 430px;

    margin: 20px 0 20px 0;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.lightBackground {
    background-color: #c7aa71;
}

.darkBackground {
    background-color: #171414;
}

.ClickedGenreDiv p {
    color: white;
}

.ClickedGenreDiv:hover {
    box-shadow: 8px 11px 19px 0 rgba(231,215,215,0.55);
    -webkit-box-shadow: 8px 11px 19px 0 rgba(231,215,215,0.55);
    -moz-box-shadow: 8px 11px 19px 0 rgba(231,215,215,0.55);
    transition: 0.3s;
}